* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    width: 1oovw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2ecff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

ul {
    position: relative;
    display: flex;
    width: 350px;
    height: 70px;
}

.item {
    position: relative;
    list-style: none;
    height: 100%;
    width: 70px;
    z-index: 10;
    border-bottom: 4px solid transparent;
    transition: .3s ease;
}

.item:hover {
    border-bottom-color: var(--color);
}

.item a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: #000;
}

.item .icon {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 26px;
    text-align: center;
    color: #000;
    transition: .5s;
}

.item.active .icon {
    transform: translateY(-35px);
}

.item .title {
    position: absolute;
    font-weight: 400;
    transform: translateY(20px);
    transition: .5s;
    opacity: 0;
}

.item.active .title {
    opacity: 1;
    transform: translateY(15px);
}

.highlight {
    position: absolute;
    height: 60px;
    width: 60px;
    top: -50%;
    left: 2%;
    border-radius: 50%;
    transform: translateX(-10px);
    transition: .5s;
    opacity: 0;
}

.highlight .glass-icon {
    position: absolute;
    font-size: 100px;
    top: -25px;
    right: -12px;
    transform: rotate(180deg);
    z-index: 9;
    color: #343434;
}

ul .item:nth-child(1).active ~ .highlight {
    transform: translate(0);
    background-color: #3bff19;
    opacity: 1;
}

ul .item:nth-child(2).active ~ .highlight {
    transform: translate(calc(70px * 1));
    background-color: #ff1971;
    opacity: 1;
}

ul .item:nth-child(3).active ~ .highlight {
    transform: translate(calc(70px * 2));
    background-color: #ffd919;
    opacity: 1;
}

ul .item:nth-child(4).active ~ .highlight {
    transform: translate(calc(70px * 3));
    background-color: #c773ff;
    opacity: 1;
}

ul .item:nth-child(5).active ~ .highlight {
    transform: translate(calc(70px * 4));
    background-color: #39bdff;
    opacity: 1;
}